.in-form:not(.in-form--inline) .in-form-control:not(:first-child) {
  margin-top: $input-stack;
}

.in-form--inline {
  --s-gap: #{$input-gap};
  display: flex;
  align-items: flex-start;
}

.in-form--inline.in-form--no-gap {
  --s-gap: #{$border-width * -1};
}

.in-form.in-form--inline > * {
  flex: 1 1 auto;
  min-width: auto;
  margin-top: 0;
  margin-left: var(--s-gap);
}

.in-form.in-form--inline > .in-button {
  flex: 0 0 auto;
  margin-top: #{$text-size + $label-stack};
}

.in-form.in-form--inline > *:first-child {
  margin-left: 0;
}

.in-form.in-form--no-gap input,
.in-form.in-form--no-gap button {
  border-left-width: 0;
  border-right-width: 0;
}

.in-form.in-form--no-gap > *:first-child input,
.in-form.in-form--no-gap > button:first-child {
  border-left-width: var(--s-border);
}

.in-form.in-form--no-gap > *:last-child input,
.in-form.in-form--no-gap > button:last-child  {
  border-right-width: var(--s-border);
}

.in-form.in-form--no-gap .in-button {
  margin-top: 0;
}
