$button-default: #343749;
$button-hover: #343749;
$button-background: transparent;
$button-hover-background: #BEFFE3;
$button-inverted: #FFFFFF;
$button-inverted-hover: #343749;
$button-inverted-background: #343749;
$button-inverted-hover-background: #BEFFE3;

$interaction-default: #343749;
$interaction-hover: #343749;
$interaction-focus: #BEFFE3;
$interaction-focus-error: #F7DDDD;

$input-border: #343749;
$input-background: #FFFFFF;
$input-error: #DD1F47;

$spinner: #343749;
