$text-size: 1.6;

$container-bezel: 2rem;
$container-bezel--laptop: 3.2rem;

$grid-gutter: 2.4rem;

$button-bezel-x: 2.4rem;
$button-bezel-y: 1.4rem;
$button-bezel-x-minor: 1.6rem;
$button-bezel-y-minor: 0.6rem;

$input-max-height: 4.8rem;
$input-bezel-x: 1.4rem;
$input-bezel-y: 1.4rem;
$input-max-height-minor: 3.2rem;
$input-bezel-x-minor: 0.8rem;
$input-bezel-y-minor: 0.8rem;
$input-stack: 3.2rem;
$input-gap: 1.6rem;

$textarea-min-height: 8em;

$checkbox-size: 2rem;
$checkbox-bezel-x: 0.8rem;
$checkbox-bezel-y: 0.2rem;
$checkbox-checkmark-size: 2rem;
$radio-checkmark-size: 0.8rem;
$toggle-stack: 0.8rem;


$label-stack: 0.6rem;
$label-stack-minor: 0.4rem;

$icon-button-bezel-x: 2.2rem;
$icon-button-bezel-y: 1.4rem;
$icon-button-bezel-x-minor: 1.4rem;
$icon-button-bezel-y-minor: 0.6rem;
$icon-inline-stack: 0.8rem;
$icon-size--s: 2rem;
$icon-size--m: 2.4rem;
$icon-size--l: 3.2rem;
$icon-size--xl: 4.8rem;

$stack--ant: 3.2rem;
$stack--beetle: 4.8rem;
$stack--bumblebee: 6.4rem;
$stack--dragonfly: 7.2rem;

$border-width: 1px;
$outline-width: 4px;
$outline-width-minor: 2px;
