.pui-stack {
  &--ant {
    margin-top: $stack--ant;

    &\@desktop {
      @include breakpoint('desktop') {
        margin-top: $stack--ant;
      }
    }

    &\@laptop {
      @include breakpoint('laptop') {
        margin-top: $stack--ant;
      }
    }

    &\@tablet {
      @include breakpoint('tablet') {
        margin-top: $stack--ant;
      }
    }
  }

  &--beetle {
    margin-top: $stack--beetle;

    &\@desktop {
      @include breakpoint('desktop') {
        margin-top: $stack--beetle;
      }
    }

    &\@laptop {
      @include breakpoint('laptop') {
        margin-top: $stack--beetle;
      }
    }

    &\@tablet {
      @include breakpoint('tablet') {
        margin-top: $stack--beetle;
      }
    }
  }

  &--bumblebee {
    margin-top: $stack--bumblebee;

    &\@desktop {
      @include breakpoint('desktop') {
        margin-top: $stack--bumblebee;
      }
    }

    &\@laptop {
      @include breakpoint('laptop') {
        margin-top: $stack--bumblebee;
      }
    }

    &\@tablet {
      @include breakpoint('tablet') {
        margin-top: $stack--bumblebee;
      }
    }
  }

  &--dragonfly {
    margin-top: $stack--dragonfly;

    &\@desktop {
      @include breakpoint('desktop') {
        margin-top: $stack--dragonfly;
      }
    }

    &\@laptop {
      @include breakpoint('laptop') {
        margin-top: $stack--dragonfly;
      }
    }

    &\@tablet {
      @include breakpoint('tablet') {
        margin-top: $stack--dragonfly;
      }
    }
  }
}

.pui-no-stack {
  margin-top: 0;
}

.pui-no-stack\@desktop {
  @include breakpoint('desktop') {
    margin-top: 0;
  }
}

.pui-no-stack\@laptop {
  @include breakpoint('laptop') {
    margin-top: 0;
  }
}

.pui-no-stack\@tablet {
  @include breakpoint('tablet') {
    margin-top: 0;
  }
}
