// COLOR PALETTE
$mood-indigo: #343749;
$paper-white: #FFFFFF;
$placebo-turquoise: #E8FFF5;
$peppermint-frosting: #BEFFE3;
$fairy-princess: #F7DDDD;
$infrared-tang: #DD1F47;


// VARIABLES
$text: $mood-indigo !default;
$text-inverted: $paper-white !default;

$button-default: $mood-indigo !default;
$button-hover: $mood-indigo !default;
$button-background: transparent !default;
$button-hover-background: $peppermint-frosting !default;
$button-inverted: $paper-white !default;
$button-inverted-hover: $mood-indigo !default;
$button-inverted-background: $mood-indigo !default;
$button-inverted-hover-background: $peppermint-frosting !default;

$interaction-default: $mood-indigo !default;
$interaction-hover: $mood-indigo !default;
$interaction-hover-background: $peppermint-frosting !default;
$interaction-focus: $peppermint-frosting !default;
$interaction-focus-error: $fairy-princess !default;

$input-border: $mood-indigo !default;
$input-background: transparent !default;
$input-error: $infrared-tang !default;

$dropdown-background: $paper-white !default;


$table-border: $mood-indigo !default;
$table-background: transparent !default;
$table-background-hover: $placebo-turquoise !default;
$table-background-focus: $peppermint-frosting !default;

$spinner: $mood-indigo !default;
