$text-size: 1.6 !default;

$container-bezel: 2rem !default;
$container-bezel--laptop: 3.2rem !default;

$grid-gutter: 2.4rem !default;

$button-bezel-x: 2.4rem !default;
$button-bezel-y: 1.4rem !default;
$button-bezel-x-minor: 1.6rem !default;
$button-bezel-y-minor: 0.6rem !default;

$input-max-height: 4.8rem !default;
$input-bezel-x: 1.4rem !default;
$input-bezel-y: 1.4rem !default;
$input-icon-bezel-x: 1.2rem !default;
$input-icon-bezel-y: 1.2rem !default;
$input-max-height-minor: 3.2rem !default;
$input-bezel-x-minor: 0.8rem !default;
$input-bezel-y-minor: 0.8rem !default;
$input-icon-bezel-x-minor: 0.6rem !default;
$input-icon-bezel-y-minor: 0.6rem !default;
$input-stack: 3.2rem !default;
$input-gap: 1.6rem !default;

$textarea-min-height: 8em !default;

$checkbox-size: 2rem !default;
$checkbox-bezel-x: 0.8rem !default;
$checkbox-bezel-y: 0.2rem !default;
$checkbox-checkmark-size: 2rem !default;
$radio-checkmark-size: 0.8rem !default;
$toggle-stack: 0.8rem !default;

$dropdown-max-height: 30.4rem !default;
$dropdown-bezel-x: 0 !default;
$dropdown-bezel-y: 0.8rem !default;
$dropdown-item-bezel-x: 1.4rem !default;
$dropdown-item-bezel-y: 1.2rem !default;

$dropdown-max-height-minor: 30.4rem !default;
$dropdown-bezel-x-minor: 0 !default;
$dropdown-bezel-y-minor: 0.4rem !default;
$dropdown-item-bezel-x-minor: 1.4rem !default;
$dropdown-item-bezel-y-minor: 0.8rem !default;


$label-stack: 0.6rem !default;
$label-stack-minor: 0.4rem !default;

$icon-button-bezel-x: 2.2rem !default;
$icon-button-bezel-y: 1.4rem !default;
$icon-button-bezel-x-minor: 1.4rem !default;
$icon-button-bezel-y-minor: 0.6rem !default;
$icon-inline-stack: 0.8rem !default;
$icon-size--s: 2rem !default;
$icon-size--m: 2.4rem !default;
$icon-size--l: 3.2rem !default;
$icon-size--xl: 4.8rem !default;

$spinner-size: 3.2rem !default;
$spinner-stroke: 3.125px !default;
$spinner-size-minor: 2rem !default;
$spinner-stroke-minor: 5px !default;

$table-bezel-x: 1.6rem !default;
$table-bezel-y: 1.4rem !default;
$table-header-bezelx-y: 0.8rem !default;

$stack--ant: 3.2rem !default;
$stack--beetle: 4.8rem !default;
$stack--bumblebee: 6.4rem !default;
$stack--dragonfly: 7.2rem !default;

$border-width: 1px !default;
$outline-width: 4px !default;
$outline-width-minor: 2px !default;
