@mixin body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

@mixin title {
  font-weight: 600;
  line-height: 1.25;
  margin-top: $stack--beetle;
  margin-bottom: 0.8rem;
}

@mixin sub-title {
  font-weight: 400;
  margin-top: $stack--beetle;
  margin-bottom: 0.8rem;
}

@mixin page-title {
  font-size: 3.2rem;
  margin-top: 0;
  margin-bottom: $stack--dragonfly;
}

@mixin section-title {
  font-size: 2rem;
  margin-top: $stack--bumblebee;
  margin-bottom: 2rem;
}

@mixin button {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
}

@mixin input {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}

@mixin table {
  line-height: 1.2;
}

@mixin small-text {
  font-size: 1.4rem;
  line-height: 1.2;
}

@mixin small-title {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.08rem;
}
