.in-page {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}

.in-page__start {
  flex: 0 0 auto;
}

.in-page__main {
  flex: 1 0 auto;
}

.in-page__end {
  flex: 0 0 auto;
}
